<div class="h-screen w-screen grid content-center bg-slate-900">
    <div class="w-1/3 ml-40">
        <h3 class="p-2 text-4xl text-amber-500">Acerca de mí</h3>
        <p class="p-2 text-xl text-slate-300">
            Mi nombre es Nicolás Montiel y soy un desarrollador full-stack. 
            Estoy capacitado en tecnologías front-end y back-end con Javascript, lo que me permite desarrollar aplicaciones web completas y escalables. 
            Mi pasión por resolver problemas técnicos me permiten entregar soluciones eficientes y de alta calidad.
        </p>
    </div>
    
</div>
