<h3>Acerca de mí</h3>
<p>
    Hola, soy Nico, el protagonista de este portafolio.
    Mi camino en el desarrollo web comenzó cuando, 
    cansado de atender mesas en bares sentí que necesitaba cambiar 
    de actividad y decidí que aprendería a programar.
    Recibí formación a traves de un bootcamp full-stack MERN, 
    pero desde entonces me ha interesado más el back-end.
</p>