<div class="w-screen h-screen grid content-center bg-slate-900">
    <div class="w-4/5 p-2 grid grid-cols-2">
        <h3 class="text-5xl grid place-content-center text-amber-500">Contacto</h3>
        <div class="w-full flex justify-around text-slate-200">
            <a href="https://www.linkedin.com/in/nemontiel" title="Linkedin"><img src="/linkedinw.png" alt="linkedin" class="h-10 w-10" /></a>
            <a href="https://www.github.com/nemontiel" title="Github"><img src="/githubw.png" alt="github" class="h-10 w-10"/></a>
            <a href="mailto:nemontiel@gmail.com"><img src="/mailb.png" alt="correo" class="h-10 w-10"/></a>
            <a class="border-2 border-white h-10 w-10 grid place-content-center rounded-full"><img src="/resumew.png" alt="resume" class="h-8 w-8"></a>
        </div>
        <p class="p-2 text-2xl text-slate-200">
            Para consultas, sugerencias o entrar en contacto no dudes en envíarme un correo, 
            añadirme a Linkedin o seguirme en Github.
        </p>
    </div>
</div>


