<div class="h-screen w-screen grid place-content-center bg-slate-900">
    <div class="w-4/6 ml-20">
        <h1 class="bg-amber-500 p-2 m-1 text-5xl  text-slate-900">NICOLÁS MONTIEL</h1>
        <h2 class="grid text-3xl p-2 m-1 text-amber-500">Desarrollador Full-stack</h2>
        <p class="text-white text-xl p-2 m-1"> 
            Estoy capacitado en tecnologías front-end y back-end con Javascript, lo que me permite desarrollar aplicaciones web completas y escalables. 
            Mi pasión por resolver problemas técnicos me permiten entregar soluciones eficientes y de alta calidad.
        </p>
    </div>
</div>

