<div class="h-screen w-screen grid place-content-center bg-slate-900">
    <div class="h-1/2 w-8/9 grid grid-cols-2 ">
        <div class="grid place-content-center p-2 text-8xl bg-amber-500 text-slate-900">
            <h1>NICOLÁS</h1>
        </div>
        <div class="grid place-content-center text-5xl text-amber-500">
            <h2>Desarrollador</h2>
        </div>
        <div class="grid place-content-center text-5xl text-amber-500">
            <h2>Full-stack</h2>
        </div>
        <div class="grid place-content-center p-2 text-8xl bg-amber-500 text-slate-900">
            <h1>MONTIEL</h1>
        </div>
    </div>
    <div class="flex justify-around mt-3 text-white">
            <a href="https://www.linkedin.com/in/nemontiel">Linkedin</a>
            <a href="https://www.githun.com/nemontiel">Github</a>
            <a href="">CV</a> 
        </div>
</div>
<hr/>
