<div class="h-screen w-screen grid content-around bg-black">
    <div class="grid grid-flow-cols-1 pl-10 bg-red-400">
        <h1 class="text-7xl">Nicolás Montiel</h1>
        <h2 class="text-4xl">Desarrollador full-stack</h2>
        <a href="www.linkedin.com/in/nemontiel">Linkedin</a>
        <a href="">Github</a>
        <a href="">CV</a> 
    </div>
</div>

