<div class="h-screen grid grid-cols-2 place-content-center bg-slate-900">
    <div class="grid place-content-center ml-20 fade-left">
        <h1 class=" p-2 m-1 text-8xl  text-amber-500 font-medium transition-opacity ease-in delay-150">NICOLÁS</h1>
        <h1 class="bg-amber-500 text-slate-900 text-8xl font-medium">MONTIEL</h1>
        <h2 class=" text-4xl p-2 m-1 text-amber-500">Desarrollador Full-stack</h2>
    </div>
    <div class="grid place-content-center text-7xl text-amber-500 ">
      <ul>
        <li class="hover:bg-amber-500 hover:text-slate-900"><a href="/acerca/">ACERCA</a></li>
        <li class="hover:bg-amber-500 hover:text-slate-900"><a href="/habilidades/">HABILIDADES</a></li>
        <li class="hover:bg-amber-500 hover:text-slate-900"><a href="/proyectos/">PROYECTOS</a></li>
        <li class="hover:bg-amber-500 hover:text-slate-900"><a href="/contacto/">CONTACTO</a></li>
      </ul>
    </div>
</div>
<style>
    .fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .fade-left {
    animation: fade-left 1s ease-in;
  }
  .fade-right {
    animation: fade-right 1s ease-in;
  }
  .second {
    animation: fade-right 1.25s ease-in;
  }
  .third {
    animation: fade-right 1.5s ease-in;
  }
  .fourth {
    animation: fade-right 1.75s ease-in;
  }
  
  
</style>

