<div class="h-14 p-2 bg-slate-900 sticky top-0">
    <ul class="flex flex-row justify-end gap-10 text-lg text-amber-500 font-semibold fade-bottom pr-10">
        <li class="hover:bg-amber-500 hover:text-slate-900"><a href="/">INICIO</a></li>
        <li class="hover:bg-amber-500 hover:text-slate-900"><a href="/acerca">ACERCA</a></li>
        <li class="hover:bg-amber-500 hover:text-slate-900"><a href="/proyectos/">PROYECTOS</a></li>
        <li class="hover:bg-amber-500 hover:text-slate-900"><a href="/habilidades/">HABILIDADES</a></li>
        <li class="hover:bg-amber-500 hover:text-slate-900"><a href="/contacto/">CONTACTO</a></li>
    </ul>
</div>
<style>
  .fade-bottom {
        animation: fade-bottom 1.0s ease-in-out;
    }
    @keyframes fade-bottom {
    0% {
      transform: translateY(-25px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
<script src="../scroll.js"></script>