<span class="h-screen w-16 p-3 flex flex-col fixed justify-center space-y-4 text-white">
    <a href="https://www.linkedin.com/in/nemontiel" title="Linkedin"><img src="/linkedinw.png" alt="linkedin" class="h-8 w-8" /></a>
    <a href="https://www.github.com/nemontiel" title="Github"><img src="/githubw.png" alt="github" class="h-8 w-8"/></a>
    <a href="mailto:nemontiel@gmail.com"><img src="/mailb.png" alt="correo" class="h-8 w-8"/></a>
    <a class="border-2 border-white h-8 w-8 grid place-content-center rounded-full"><img src="/resumew.png" alt="resume" class="h-6 w-6"></a>
</span>